body {
    font-family: Bruno Ace;
    color: rgb(26, 74, 106);
    background: linear-gradient(90deg, #3d6b8a 15%, #8dacbd);
}

h2 {

    text-align: justify;
    font-size: 2em;
    margin: 15px;

}

.caixaTexto {
    height: 60%;
    margin: 0 0 0 5px;
    display: flex;
    justify-content: space-between;
}


.caixaNaoCodificada {

    color: rgb(157, 183, 200);
    font-size: 2em;
    font-weight: bold;
    resize: none;
    padding: 3em 2em;
    text-align: center;
    margin: 20px 10px 0;
    width: 60%;
    height: 230px;
    border-radius: 30px 15px;
    border: 0;
    background: linear-gradient(90deg, #3d6b8a 15%, #7caac4);
    outline: none;

}


.caixaNaoCodificada:hover {

    box-shadow: 5px 5px 15px #6a8796;


}

.caixaCodificada {
    color: rgb(28, 92, 134);
    margin: 0 15px;
    font-size: 2em;
    padding: 1em;
    font-weight: bold;
    resize: none;
    text-align: center;
    width: 30%;
    height: 330px;
    border-radius: 15px 30px;
    border: 0;
    outline: none;
    background: #e8ecee;
    opacity: 75%;
    /* box-shadow: 5px 5px 15px #98b7c6 */
}

textarea::placeholder {
    color: rgb(157, 183, 200);
    position: absolute;
    top: 40%;
    left: 40%;
}

.vector {
    margin: 0 5px 0 0;
}

.aviso {
    margin: 5px 0 0 11%;
    font-size: small;
    display: flex;
    flex-direction: row;
    font-size: 12px;
    line-height: 150%;
}

.botoes {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3px;
    padding: 1% 0 1% 8%;


}


#botaoCode,
#botaoDecode {
    color: #3d6b8a;
    font-family: Bruno Ace;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 75%;
    margin: 0 10px;
    transform: scale(1);
    transition: 0.8s;

}


#botaoCode:hover {
    background-color: #0a446a;
    color: #9bbfd4;
    transform: scale(1.1);
    transition: 0.7s;

}

#botaoDecode:hover {
    background-color: #0a446a;
    color: #9bbfd4;
    transform: scale(1.1);
    transition: 0.7s;

}


#botaoCopy {

    background-color: #0a446a;
    color: #9bbfd4;
    font-family: Bruno Ace;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    opacity: 75%;
    margin: 0 0 0 52%;
    transform: scale(1);
    transition: 0.8s;


}

#botaoCopy:hover {
    background-color: #cbd5dc;
    color: #3d6b8a;
    transform: scale(1.1);
    transition: 0.7s;
    opacity: 100%;

}



footer {
    text-align: center;
    background: url("imagens/binario.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 180px
}

.imagem-rodape {
    display: inline;
    height: 100px;
    margin: 5px;

}

footer li {
    font-weight: bold;
    display: inline-block;
    margin: 10px;

}

footer li a {
    color: rgb(26, 74, 106);
    text-decoration: none;

}

footer li a:hover {
    color: rgb(26, 74, 106);
    text-decoration: underline;

}

.copyright {

    font-family: Arial, Helvetica, sans-serif;
    color: #cbd5dc;
    font-size: 13px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {


    body {
        display: flex;
        flex-direction: column;
    }

    .caixaTexto {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: auto;
    }

    .caixaNaoCodificada,
    .caixaCodificada {
        padding: 9px;
        width: auto;
        margin: 0 3%;
        height: 140px;
    }

    textarea::placeholder {

        color: rgb(157, 183, 200);
        position: absolute;
        top: 0;
        left: 0;
        padding: 10%
    }


    .caixaNaoCodificada {

        background: linear-gradient(270deg, #88a6ba 15%, #4d7f9b);
    }

    .botoes {
        display: flex;
        flex-direction: column;
        padding: 0 5%;
        align-items: center;
        width: auto;
        gap: 6px;
    }

    .aviso {
        margin: 3% 16%;
    }

    #botaoCopy,
    #botaoCode,
    #botaoDecode {
        margin: 0 0;
        width: 90%;
    }

    h2 {
        text-align: center;
    }

    footer {
        position: relative;
        bottom: -50px;
        width: auto;
    }

}